/* ### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Lexend Deca";
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

.main {
  flex-direction: row;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.card {
  width: 290px;
  height: 30em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 2.5em;
  align-items: flex-start;
}

.sedan-icon,
.suv-icon,
.luxury-icon {
  height: 2.5rem;
  width: 4rem;
  margin: 1em 0;
}

.type {
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 0.5em;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.625rem 0 0 0.625rem;
  display: flex;
  justify-content: space-between;
}

.suv {
  background-color: hsl(184, 100%, 22%);
  display: flex;
  justify-content: space-between;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0.625rem 0.625rem 0;
  display: flex;
  justify-content: space-between;
}

.btn-more {
  font-family: "Lexend Deca";
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  padding: 0.7em 1.5em;
  background-color: hsl(0, 0%, 95%);
}
.sedan .btn-more {
  color: hsl(31, 77%, 52%);
}

.suv .btn-more {
  color: hsl(184, 100%, 22%);
}

.luxury .btn-more {
  color: hsl(179, 100%, 13%);
}

.btn-more {
  border: 2px solid hsl(0, 0%, 95%);
}

.sedan .btn-more:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.suv .btn-more:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.luxury .btn-more:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}

@media (max-width: 880px) {
  body {
    width: 100%;
  }

  .container {
    flex-direction: column;
    height: 100vh;
    border-radius: 0%;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
  }
}
